*{
  box-sizing: border-box;
}
body{
  background-color: white;
}
.container{
  padding:10px;
  /* background-color: red; */
  max-width: 700px;
  margin: 20px auto;
}
.btn{
  border:none;
  padding:5px 10px;
  font-size: 18px;

}
.btn-add{
  background-color: black;
  color:white;
  cursor: pointer;

}
.addcontainer{
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  left:0;
  right:0;
  bottom:0;
  top:0;
  display: flex;
  justify-content: center;
  align-items:center;
}
.addcontainer form{
  width:400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding:50px 40px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);


}
.addcontainer form label{
  font-size:18px;
}
.addcontainer form input{
  font-size:10px;
  padding:5px;
  margin-top:5px;
  margin-bottom:10px;


}
.addcontainer form button{
  background-color: blue;
  color:white;
  font-weight: 500;
  margin-top:20px;
}
.addcontainer form .close-btn{
  margin-left: auto;
  font-size: 10px;
  width:20px;
  height:20px;

  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border:1px solid black;
  cursor: pointer;
}

.tableContainer{
  margin-top: 50px;
  /* border:1px solid rgb(240, 235, 235); */
}
.tableContainer table{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border:1px solid rgb(240, 235, 235);
}
.tableContainer table thead tr{

  background-color: bisque;
 
}


.tableContainer table thead tr th,
.tableContainer table tbody tr td{
  min-width: 200px;

  padding:7px;
  text-align: center;
}


.tableContainer table tbody tr td{
  border-bottom: 1px solid rgb(81, 78, 78);


}
.btn-edit,.btn-delete{
  font-size:15px;
  padding:5px 10px;
  margin:0px 10px;
}
.btn-edit{
  background-color: cornflowerblue;
}
.btn-delete{
  background-color: red;
}